

    <AuthorizeView>
        <Authorized>
            @* User is logged in*@
                Hello, @context.User.Identity.Name
                <a href="Identity/Account/Logout">Logout</a>
        </Authorized>
        <NotAuthorized>
            @* User is not logged in*@
                <a href="Identity/Account/Register">Register</a>
                <a href="Identity/Account/Login">Login</a>
        </NotAuthorized>
    </AuthorizeView>



@code {

}
