.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    background-color: rgba(255,255,255,0);
    color: white;
    font-size: 1.5rem;
    -webkit-transition: color 0.45s ease-in-out;
    transition: color 0.45s ease-in-out;
}
    .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
        color: rgba(198,198,198,1) !important;
    }

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: rgba(215,215,215,1);
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        -webkit-transition: color 0.45s ease-in-out;
        transition: color 0.45s ease-in-out;
        -webkit-transition: background-image 1s ease-in-out;
        transition: background-image 1s ease-in-out;
    }

        .nav-item ::deep a.active {
            background-image: linear-gradient(to top right, rgba(255,255,255,0.03) 50%, rgba(255,255,255,0.09));
            color: rgba(182,182,182,0.5) !important;
        }

        .nav-item ::deep a:hover {
            background-image: linear-gradient(to top right, rgba(255,255,255,0.02), rgba(255,255,255,0.08) 40%);
            color: rgba(182,182,182,0.3) !important;
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

#navbar-cart-count {
    position: relative;
    text-align: center;
    padding-right: 20px !important;
    margin-right: 20px !important;
}

#icon-text-circle {
    min-width: 24px;
    min-height: 16px;
    line-height: 16px;
    border-radius: 50%;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    background: #A2203A;
    opacity: 90%;
    padding: 5px;
}

#icon-text-overlay {
    position: absolute;
    color: white;
    font-size: 1.1rem;
    bottom: 28px;
    left: 40px;
    font-weight: bolder;
}

#nav-item-text {
    font-size: 1.1rem;
    letter-spacing: 1.4px;
    font-weight: 100;
    color: #f5f5f5;
    -webkit-transition: color 0.5s ease-in-out; 
    transition: color 0.5s ease-in-out; 
}

    #nav-item-text:hover {
        color: #cacaca;
    }

